.border{
    background-color: rgb(51, 54, 66);
    width:6px;
    z-index: 2;
    position: relative;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.borderNonStatic{
    cursor: col-resize;
}
.slider{
    position: absolute;
    width: 600px;
    left:0;
    z-index: -1;
    background-color: rgb(51, 54, 66);
    font-size: 1px;
}