.top-part{
    display: flex;
}
.console{
    font-family: monospace;
    background-color: rgb(30, 31, 38);
    padding: 10px 15px;
    font-size: 8px;
    color: white;
    overflow-y: scroll;
}
.horizontal-border{
    background-color: rgb(51, 54, 66);
    height:6px;
    z-index: 2;
    position: relative;
    cursor: row-resize;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
body{
    background: black;
}
.command-pane{
    display: flex;
    align-items: center;
    height:20px;
    /* background: #565a66; */
    background-color: rgb(30, 31, 38);
    /* border-top:5px solid rgb(51, 54, 66); */
    border-left:6px solid rgb(51, 54, 66);
    border-right:6px solid rgb(51, 54, 66);
}
.command-pane-buttons{
    font-size: 8px;
    padding: 5px 10px;
    border:none;
    background: none;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    outline: none;
}
.console-line-item{
    height: auto;
    color: white;
}
.console-textarea{
    margin-bottom: 10px;
    margin-top: 2px;
    max-height: 50px;
    height: auto;
    overflow-y: scroll;
    width: 100%;
    background: transparent;
    resize: none;
    color: white;
    font-size: 8px;
    padding: 3px;
    border: 1px solid white;
    font-family: monospace;
    white-space: pre-line;
}
.result-div{
    height: auto;
}