* {
  margin: 0px;
  padding: 0px;
  height:100%;
  width: 100%;
  box-sizing: border-box;
}
.App{
  display: flex;
  height: 95%;
  width: 100%;
}
.editor{
  background-color: whitesmoke;
  height: 50%;
}
.function-codes{
  /* height:100%; */
  display: flex;
}
.f1, .f2{
  width: 50%;
  background-color: crimson;
}
.functions-box{
  background-color: whitesmoke;
}
textarea{
  font-size: 12px;
  padding: 10px;
  border: none;
  outline: 2px solid black;
  height: 100%;
}
.console{
  font-size: 20px;
  padding: 20px;
  color: white;
  height: 100%;
  background-color: black;
  outline: 2px solid black;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  height:5%;
  padding: 10px;
}
select{
  width: 200px;
  margin-left: 10px;
  margin-right: 80px;
}
.compareButton{
  width: 100px;
  height:30px;
  margin-right: 80px;
}
.consoleEditor{
  font-size: 18px;
  /* background-color: black;
  color:white; */
  background-color: cornsilk;
  outline: 2px solid black;
  margin: 10px 0px 20px 0
}
.headline{
  height:20px
}